<% t = locals[:alumno] %>
<% @act = ActividadAlumno.where(['alumno_id = ?',t.id]).order("actividad_id") %>
<% if (@act != nil) %>
	<% @act.each do |a| %>
		<% @actividad = Actividad.find(a.actividad_id) rescue nil %>
		<% if @actividad != nil && (@actividad.fechainfo == nil || @actividad.fechainfo >= DateTime.now ) %>
		    <br>
			
			<%= form_for(@x, as: :actividad, url: principal_download_pdf_path(:actividad), :html => {:id=>'form_download_' + a.actividad_id.to_s}) do |f| %>
	           <%= f.hidden_field :id, value: @actividad.id %>
	           <%= f.hidden_field :alumno_id, value: t.id %>
			    <div id="textoRegistrarse">

					<b><%= link_to "Descargar información: " + @actividad.nombre, "", :onclick => "$('#form_download_" + a.actividad_id.to_s + "').submit()" %></b>
			    </div>
			<% end %>

		    <% @cuenta = CuentaAlumno.where(['alumno_id = ?',t.id]).first rescue nil %>
		    <% @titular = TitularCuenta.where(['usuario_id = ? AND cuenta_id = ?',current_usuario.id,@cuenta.cuenta_id]).first rescue nil %>
		    <% if @titular != nil && (@actividad.fecha == nil || @actividad.fecha >= DateTime.now ) %>

		    	<% arreglo = ActividadOpcion.opciones(@actividad_id) %>
				<% if arreglo[:opciones].count > 0 %>
					<%= form_for(@y, as: :actividad_alumno, url: principal_autorizar_path(:actividad)) do |f| %>
						<div id="textoRegistrarse">							
					    <% if arreglo[:opciones][a.opcion] != nil %>
					    	<b><%= p arreglo[:opciones][a.opcion] %></b>
					    <% else %>
					    	<b><%= p "" %><b>
					    <% end %><br><br>
			            <%= f.hidden_field :alumno_id, value: t.id %>
			            <%= f.hidden_field :actividad_id, value: a.actividad_id %>
						<%= f.select :opcion, options_for_select(arreglo[:opciones], a.opcion)  %><br><br>
			            <%= f.submit "Confirmar"  %>
						</div>

					<% end %>												
				<% end %>	
				<br>
			<% end %>
		<% end %>
	<% end %>
<% end %>