<% cuenta = locals[:cuenta] %>
<% pendientes = locals[:pendientes] %>
<% anteriores = locals[:anteriores] %>

<table class="table table-hover" id="tabla" width="100%" style="font-size:10px">
	<tr>
	<th><%= "Fecha" %></td>									
	<th><%= "Descripción" %></td>
	<th><%= "Debe" %></td>
	<th><%= "Haber" %></td>
	</tr>

	<% if anteriores %>
		<% movimientosAnt = Array.new %>
		<% movimientos = cuenta.movimientos_anteriores(DateTime.new(2019,12,01)) %>
	<% elsif pendientes %>
		<% movimientosAnt = Array.new %>
		<% movimientos = cuenta.movimientos_pendientes() %>
	<% else %>
		<% movimientosAnt = cuenta.movimientos_anteriores(DateTime.new(2019,12,01)) %>
		<% movimientos = cuenta.movimientos(DateTime.new(2019,12,01)) %>
	<% end %>

	<% primero = true %>
	<% suma = 0 %>
	<% movimientosAnt.each do |m| %>
		<% suma = suma + m['debe'].to_f - m['haber'].to_f %>
	<% end %>
	<% movimientos.each do |m| %>
		<% suma = suma + m['debe'].to_f - m['haber'].to_f %>
		<tr><td><%= m['fecha'].to_date.strftime('%d/%m/%Y') %></td>
		<td><%= m['descripcion'] %></td>
		<td><% if m['debe'].to_f != 0 %>			
			<%= m['debe'].to_f %>
				<% if false %>
					<% if pendientes && m['fecha'].to_date.month >= 7 && m['tipo'] == 1001 %>
						<b>*</b>
					<% end %>
				<% end %>

			<% end %></td>
		<td><% if m['haber'].to_f != 0 %><%= m['haber'].to_f %><% end %></td>
		</tr>
	<% end %>
	<% if false %>
		<% if pendientes %>
			<tr>
			<td></td>
			<td></td>
			<td>		
				<b>*</b> Sujeta a ajuste a determinar
			</td>
			<td></td>
			</tr>
		<% end %>
	<% end %>


	<% if !pendientes %>
	<tr>
	<td>
		<%= form_for(@cuenta, as: :cuenta, url: principal_download_factura_path(:cuenta), :html => {:id=>'form_download_' + cuenta.id.to_s}) do |f| %>
           <%= f.hidden_field :id, value: cuenta.id %>
		   <b><%= link_to "Factura", "", :onclick => "$('#form_download_" + cuenta.id.to_s + "').submit()" %></b>
		<% end %>
	</td>
	<td>Saldo</td>
	<td><%= suma %></td>
	<td></td>
	</tr>
	<% end %>

</table>
