<% if @cuentas.count == 0 %>
  <table>
    <tr height='30px'></tr>
    <tr height='30px'><td width='30px'></td><td width='15px'><%= image_tag("warning.png") %></td>
    <td width='30px'></td>
    <td><%= p "Debe ser el titular de la cuenta para realizar la reinscripción" %></td></tr>
    <tr height='30px'></tr>
  </table>
<% else %>
  <% alu = locals[:alumno] %>
  <% inscripcionAlumno = Inscripcion2020.FindInscripcion(alu.id) %>
  <% if inscripcionAlumno == nil || (inscripcionAlumno.inhabilitado == nil) %>
  
  <% elsif !inscripcionAlumno.PuedeInscribir() %>
    <table>
      <tr height='30px'></tr>
      <tr height='30px'><td width='30px'></td><td width='15px'><%= image_tag("warning.png") %></td>
      <td width='30px'></td>
      <td><%= p "Reinscripción Inhabilitada. Comuníquese con administración" %></td></tr>
      <tr height='30px'></tr>
    </table>
  <% elsif inscripcionAlumno.EstaInscripto() %>
    <div class="col-md-12 col-sm-12 col-xs-12 content-table">
      <table>
        <tr height='30px'></tr>
        <tr height='30px'><td width='30px'></td><td width='15px'><%= image_tag("tick.png") %></td>
        <td width='30px'></td>
        <td><%= p "El alumno está inscripto" %></td></tr>
        <tr height='30px'></tr>
      </table>
    </div>
    <div class="clearfix"></div>
  <% elsif inscripcionAlumno.HayVale() %>
    <%= form_for(inscripcionAlumno, as: :inscripcionAlumno, url: principal_download_inscripcion_path(:inscripcionAlumno), :html => {:id=>'form_download_inscripcion_' + inscripcionAlumno.alumno_id.to_s}) do |f| %>
      <%= f.hidden_field :alumno_id, value: inscripcionAlumno.alumno_id %>
      <div id="textoRegistrarse">
        <b><%= link_to "Descargar reinscripción", "", :onclick => "$('#form_download_inscripcion_" + inscripcionAlumno.alumno_id.to_s + "').submit()" %></b>
      </div>
    <% end %>    
  <% elsif inscripcionAlumno.EstaRegistrado() %>
    <div class="col-md-12 col-sm-12 col-xs-12 content-table">
      <table>
        <tr height='30px'></tr>
        <tr height='30px'><td width='30px'></td><td width='15px'><%= image_tag("wait.png") %></td>
        <td width='30px'></td>
        <td><%= p "Se está procesando la información" %></td></tr>
        <tr height='30px'></tr>
      </table>
    </div>
    <div class="clearfix"></div>
  <% else %>    
    <%= form_for(inscripcionAlumno, as: :inscripcionAlumno, url: principal_inscribir_path(:inscripcionAlumno)) do |f| %>
      <div class="col-md-12 col-sm-12 col-xs-12 content-table">
        <div class="panel-body">
          <%= f.hidden_field :alumno_id, value: inscripcionAlumno.alumno_id %>
          <div class="form-group">

            <% opciones = Inscripcion2020.OpcionesGrados(inscripcionAlumno) %>
            <%= f.label "Nivel" %>
            <%= f.select :proximo_grado_id, options_for_select(opciones, inscripcionAlumno.proximo_grado_id), {}, {class: 'form-control'}  %>
          </div>

          <div class="form-group">
            <% opciones = Array.new  %>
            <%= f.label "Convenio: " %>
            <%= f.select :convenio2020_id, options_for_select(opciones, inscripcionAlumno.convenio2020_id), {}, {class: 'form-control'}  %>
          </div>

          <!--<% opciones = Inscripcion2020.OpcionesAfinidad(inscripcionAlumno) %>
          <% if opciones != nil %>
            <div class="form-group">              
              <%= f.label "Afinidad: " %>
              <%= f.select :afinidad2020_id, options_for_select(opciones, inscripcionAlumno.afinidad2020_id), {}, {class: 'form-control'}  %>
            </div>
          <% end %>

          <% opciones = Inscripcion2020.OpcionesAdicional(inscripcionAlumno) %>
          <% if opciones != nil %>
            <div class="form-group">
              <%= f.label "Adicional: " %>
              <%= f.select :adicional2020_id, options_for_select(opciones, inscripcionAlumno.adicional2020_id), {}, {class: 'form-control'}  %>
            </div>
          <% end %>

          <div class="form-group">
            <% opciones = Inscripcion2020.OpcionesHermanos(inscripcionAlumno) %>
            <%= f.label "Hermanos: " %>
            <%= f.select :hermanos2020_id, options_for_select(opciones, inscripcionAlumno.hermanos2020_id), {}, {class: 'form-control'}  %>
          </div>

          <div class="form-group">
            <% opciones = Inscripcion2020.OpcionesCuotas(inscripcionAlumno) %>
            <%= f.label "Cuotas: " %>
            <%= f.select :cuotas2020_id, options_for_select(opciones, inscripcionAlumno.cuotas2020_id), {}, {class: 'form-control'}  %>
          </div>

          <div class="form-group">
            <% opciones = Inscripcion2020.OpcionesMatricula(inscripcionAlumno) %>
            <%= f.label "Matrícula: " %>
            <%= f.select :matricula2020_id, options_for_select(opciones, inscripcionAlumno.matricula2020_id), {}, {class: 'form-control'}  %>
          </div>-->

          <%= f.submit "Inscribir", class: 'btn btn-primary', data: { confirm: "A partir de este momento los datos no pueden ser modificados. Está seguro de continuar?" } %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>