<% if @cuentas.count == 0 %>
  <table>
    <tr height='30px'></tr>
    <tr height='30px'><td width='30px'></td><td width='15px'><%= image_tag("warning.png") %></td>
    <td width='30px'></td>
    <td><%= p "Debe ser el titular de la cuenta para realizar la reinscripción" %></td></tr>
    <tr height='30px'></tr>
  </table>
<% else %>
  <% alu = locals[:alumno] %>
  <% inscripcionAlumno = Inscripcion.FindInscripcion(alu.id) %>
  <% if inscripcionAlumno == nil || !inscripcionAlumno.PuedeInscribir() %>
    <table>
      <tr height='30px'></tr>
      <tr height='30px'><td width='30px'></td><td width='15px'><%= image_tag("warning.png") %></td>
      <td width='30px'></td>
      <td><%= p "Reinscripción Inhabilitada. Comuníquese con administración." %></td></tr>
      <tr height='30px'></tr>
    </table>
  <% else %>
    <table>
      <tr height='30px'></tr>
      <tr height='30px'><td width='30px'></td><td width='15px'><%= image_tag("warning.png") %></td>
      <td width='30px'></td>
      <td><%= p "Reinscripción habilitada." %></td></tr>
      <tr height='30px'></tr>
    </table>
	<% end %>
<% end %>
