<% alu = locals[:alumno] %>
<% inscripcionAlumno = InscripcionAlumno.find_by( alumno_id: alu.id ) %>

<%= form_for(inscripcionAlumno, as: :inscripcionAlumno, url: principal_inscribir_path(:inscripcionAlumno)) do |f| %>
	
	<div class="col-md-12 col-sm-12 col-xs-12 content-table">
		<div class="panel-group sub-grupo">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<%= link_to "Grado", "#collapse_" + locals[:form] + "_grado", "data-toggle" => "collapse" %>
					</h4>
				</div>	

				<%= content_tag :div, id: "collapse_" + locals[:form] + "_grado", class: ["panel-collapse", "collapse", "collapse", "in" ] do %>
					<div class="col-md-12 col-sm-12 col-xs-12 content-table">
						<div class="panel-body">
							
							<%= f.hidden_field :id, value: inscripcionAlumno.id %>

							<div class="form-group">
								<% opciones = Array.new %>
								<% proximoGrado = ProximoGradoAlumno.find_by(alumno_id: alu.id) %>
								<% if proximoGrado != nil %>
									<% ProximoGrado.where(["grado=?",proximoGrado.grado]).each do |grado| %>
										<% opciones.push( ["#{grado.nombre} - $U #{grado.precio}",grado.id] ) %>
									<% end %>
									<%= f.select :grado, options_for_select(opciones, inscripcionAlumno.grado), {}, {class: 'form-control'}  %>
								<% end %>
							</div>
							<div class="form-group">
								<%= f.label "Convenio: " %>
								<% if inscripcionAlumno.convenio_id != 0 %>
									<% opcionesConvenio = Array.new %>
									<% Convenio.all.each do |convenio| %>
										<% if convenio.id != 0 %>
											<% opcionesConvenio.push( ["#{convenio.nombre} - #{convenio.valor.to_i}%",convenio.id] ) %>
										<% end %>
									<% end %>
									<%= f.select :convenio_id, options_for_select(opcionesConvenio, inscripcionAlumno.convenio_id), {}, {class: 'form-control'}  %>
								<% else %>
									<%= f.label "No aplica a este grado" %>	
									<%= f.hidden_field :convenio_id, value: 0 %>
								<% end %>
							</div>

							<div class="form-group">
								<%= f.label "Adicional: " %>
								<% opcionesHermanos = Array.new %>
								<% opcionesHermanos.push( ["Sin hermanos - 0%",0] ) %>
								<% opcionesHermanos.push( ["1 hermano - 5%",1] ) %>
								<% opcionesHermanos.push( ["2 hermanos - 10%",1] ) %>
								<%= f.select :hermanos, options_for_select(opcionesHermanos, inscripcionAlumno.hermanos), {}, {class: 'form-control'}  %>
							</div>

							<div class="form-group">
								<%= f.label "Cuotas: " %>
								<% opcionesCuotas = Array.new %>
								<% (10..12).each do |cuota| %>
									<% opcionesCuotas.push( [cuota.to_s,cuota] ) %>
								<% end %>
								<%= f.select :cuotas, options_for_select(opcionesCuotas, inscripcionAlumno.cuotas), {}, {class: 'form-control'}  %>
							</div>

		<div class="panel-group sub-grupo">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<%= link_to "Titular 1", "#collapse_" + locals[:form] + "_titular_1", "data-toggle" => "collapse" %>
					</h4>
				</div>	

				<%= content_tag :div, id: "collapse_" + locals[:form] + "_titular_1", class: ["panel-collapse", "collapse", "collapse" ] do %>
					<div class="col-md-12 col-sm-12 col-xs-12 content-table">
						<div class="panel-body">
							<div class="form-group">
								<%= f.label "Nombre completo" %>
								<%= f.text_field :nombre1, autofocus: true, class: 'form-control' %>
							</div>
							<div class="form-group">
								<%= f.label "Documento de identidad" %>
								<%= f.text_field :documento1, autofocus: true, class: 'form-control' %>
							</div>
							<div class="form-group">
								<%= f.label "Domicilio" %>
								<%= f.text_field :domicilio1, autofocus: true, class: 'form-control' %>
							</div>
							<div class="form-group">
								<%= f.label "Mail" %>
								<%= f.text_field :email1, autofocus: true, class: 'form-control' %>
							</div>
							<div class="form-group">
								<%= f.label "Teléfono/Celular" %>
								<%= f.text_field :celular1, autofocus: true, class: 'form-control' %>
							</div>
						</div>
					</div>
				<% end %>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="panel-group sub-grupo">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<%= link_to "Titular 2", "#collapse_" + locals[:form] + "_titular_2", "data-toggle" => "collapse" %>
					</h4>
				</div>										
				<%= content_tag :div, id: "collapse_" + locals[:form] + "_titular_2", class: ["panel-collapse", "collapse", "collapse" ] do %>
					<div class="col-md-12 col-sm-12 col-xs-12 content-table">
						<div class="panel-body">
							<div class="form-group">
								<%= f.label "Nombre completo" %>
								<%= f.text_field :nombre2, autofocus: true, class: 'form-control' %>
							</div>
							<div class="form-group">
								<%= f.label "Documento de identidad" %>
								<%= f.text_field :documento2, autofocus: true, class: 'form-control' %>
							</div>
							<div class="form-group">
								<%= f.label "Domicilio" %>
								<%= f.text_field :domicilio2, autofocus: true, class: 'form-control' %>
							</div>
							<div class="form-group">
								<%= f.label "Mail" %>
								<%= f.text_field :email2, autofocus: true, class: 'form-control' %>
							</div>
							<div class="form-group">
								<%= f.label "Teléfono/Celular" %>
								<%= f.text_field :celular2, autofocus: true, class: 'form-control' %>
							</div>
						</div>
					</div>
				<% end %>
				<div class="clearfix"></div>
			</div>
		</div>

							<%= f.submit "Inscribir", class: 'btn btn-primary' %>

						</div>
					</div>
				<% end %>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12 content-table">


<% end %>