<% if @cuentas.count == 0 %>
  <table>
    <tr height='30px'></tr>
    <tr height='30px'><td width='30px'></td><td width='15px'><%= image_tag("warning.png") %></td>
    <td width='30px'></td>
    <td><%= p "Debe ser el titular de la cuenta para realizar la reinscripción" %></td></tr>
    <tr height='30px'></tr>
  </table>
<% else %>
  <% alu = locals[:alumno] %>
  <% inscripcionAlumno = Inscripcion.FindInscripcion(alu.id) %>
  <% if inscripcionAlumno == nil || !inscripcionAlumno.PuedeInscribir() %>
    <table>
      <tr height='30px'></tr>
      <tr height='30px'><td width='30px'></td><td width='15px'><%= image_tag("warning.png") %></td>
      <td width='30px'></td>
      <td><%= p "Reinscripción Inhabilitada. Comuníquese con administración" %></td></tr>
      <tr height='30px'></tr>
    </table>
  <% elsif inscripcionAlumno.EstaInscripto() %>
    <div class="col-md-12 col-sm-12 col-xs-12 content-table">
      <table>
        <tr height='30px'></tr>
        <tr height='30px'><td width='30px'></td><td width='15px'><%= image_tag("tick.png") %></td>
        <td width='30px'></td>
        <td><%= p "El alumno está inscripto" %></td></tr>
        <tr height='30px'></tr>
      </table>
    </div>
    <div class="clearfix"></div>
  <% elsif inscripcionAlumno.EstaRegistrado() %>
    <%= form_for(inscripcionAlumno, as: :inscripcionAlumno, url: principal_download_inscripcion_path(:inscripcionAlumno), :html => {:id=>'form_download_inscripcion_' + inscripcionAlumno.alumno_id.to_s}) do |f| %>
      <%= f.hidden_field :alumno_id, value: inscripcionAlumno.alumno_id %>
      <div id="textoRegistrarse">
        <b><%= link_to "Descargar reinscripción", "", :onclick => "$('#form_download_inscripcion_" + inscripcionAlumno.alumno_id.to_s + "').submit()" %></b>
      </div>
    <% end %>
  <% else %>
    <%= form_for(inscripcionAlumno, as: :inscripcionAlumno, url: principal_download_ayuda_path(:inscripcionAlumno), :html => {:id=>'form_download_ayuda_' + inscripcionAlumno.alumno_id.to_s}) do |f| %>
      <%= f.hidden_field :alumno_id, value: inscripcionAlumno.alumno_id %>
      <div id="textoRegistrarse">
        <b><%= link_to "Leer antes de llenar el formulario", "", :onclick => "$('#form_download_ayuda_" + inscripcionAlumno.alumno_id.to_s + "').submit()" %></b>
      </div>
    <% end %>
    <%= form_for(inscripcionAlumno, as: :inscripcionAlumno, url: principal_inscribir_path(:inscripcionAlumno)) do |f| %>
      <div class="col-md-12 col-sm-12 col-xs-12 content-table">
        <div class="panel-body">
          <%= f.hidden_field :alumno_id, value: inscripcionAlumno.alumno_id %>
      
          <div class="form-group">
            <%= p "* " %><%= f.label "Cédula del alumno" %><%= p " - (la cédula 1.234.567-2 se ingresa 12345672)" %>
            <%= f.text_field :cedula, autofocus: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= p "* " %><%= f.label "Nombre" %>
            <%= f.text_field :nombre, autofocus: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= p "* " %><%= f.label "Apellido" %>
            <%= f.text_field :apellido, autofocus: true, class: 'form-control' %>
          </div>  
          <div class="form-group">
            <%= f.label "Lugar de nacimiento" %>
            <%= f.text_field :lugar_nacimiento, autofocus: true, class: 'form-control' %>
          </div>  
          <div class="form-group">
            <%= f.label "Fecha de nacimiento" %>
            <%= f.date_field :fecha_nacimiento, autofocus: true, class: 'form-control' %>
          </div>  
          <div class="form-group">
            <%= f.label "Domicilio" %>
            <%= f.text_field :domicilio, autofocus: true, class: 'form-control' %>
          </div>  
          <div class="form-group">
            <%= f.label "Teléfono/Celular" %>
            <%= f.text_field :celular, autofocus: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label "Mutualista" %>
            <%= f.text_field :mutualista, autofocus: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label "Emergencia" %>
            <%= f.text_field :emergencia, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <% opciones = ProximoGrado.OpcionesGrados(inscripcionAlumno) %>
            <%= f.label "Nivel" %>
            <%= f.select :proximo_grado_id, options_for_select(opciones, inscripcionAlumno.proximo_grado_id), {}, {class: 'form-control'}  %>
          </div>
      
          <% opciones = Formulario.OpcionesFormulario(inscripcionAlumno) %>
          <% if opciones != nil %>
            <div class="form-group">
              <%= f.label "Formulario: " %>
              <%= f.select :formulario_id, options_for_select(opciones, inscripcionAlumno.formulario_id), {}, {class: 'form-control'}  %>
            </div>
          <% end %>

          <div class="form-group">
            <% opciones = Formulario.OpcionesConvenio(inscripcionAlumno) %>
            <%= f.label "Convenio: " %>
            <%= f.select :convenio_id, options_for_select(opciones, inscripcionAlumno.convenio_id), {}, {class: 'form-control'}  %>
          </div>

          <div class="form-group">
            <% opciones = Formulario.OpcionesAdicional(inscripcionAlumno) %>
            <%= f.label "Adicional: " %>
            <%= f.select :adicional_id, options_for_select(opciones, inscripcionAlumno.adicional_id), {}, {class: 'form-control'}  %>
          </div>

          <div class="form-group">
            <% opciones = Formulario.OpcionesHermanos(inscripcionAlumno) %>
            <%= f.label "Hermanos: " %>
            <%= f.select :hermanos_id, options_for_select(opciones, inscripcionAlumno.hermanos_id), {}, {class: 'form-control'}  %>
          </div>

          <div class="form-group">
            <% opciones = Formulario.OpcionesCuotas(inscripcionAlumno) %>
            <%= f.label "Cuotas: " %>
            <%= f.select :cuotas_id, options_for_select(opciones, inscripcionAlumno.cuotas_id), {}, {class: 'form-control'}  %>
          </div>

          <div class="form-group">
            <% opciones = Formulario.OpcionesMatricula(inscripcionAlumno) %>
            <%= f.label "Matrícula: " %>
            <%= f.select :matricula_id, options_for_select(opciones, inscripcionAlumno.matricula_id), {}, {class: 'form-control'}  %>
          </div>

          <div class="panel-group sub-grupo">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <%= link_to "Padre", "#collapse_" + locals[:form] + "_padre", "data-toggle" => "collapse" %>
                </h4>
              </div>  
              <%= content_tag :div, id: "collapse_" + locals[:form] + "_padre", class: ["panel-collapse", "collapse", "collapse", "in" ] do %>
                <div class="col-md-12 col-sm-12 col-xs-12 content-table">
                  <div class="panel-body">
                    <div class="form-group">
                      <%= f.label "Nombre" %>
                      <%= f.text_field :nombre_padre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Apellido" %>
                      <%= f.text_field :apellido_padre, autofocus: true, class: 'form-control' %>
                    </div>                    
                    <div class="form-group">
                      <%= f.label "Cédula" %><%= p " - (la cédula 1.234.567-2 se ingresa 12345672)" %>
                      <%= f.text_field :cedula_padre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Domicilio" %>
                      <%= f.text_field :domicilio_padre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Mail" %>
                      <%= f.text_field :email_padre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Teléfono/Celular" %>
                      <%= f.text_field :celular_padre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Profesión" %>
                      <%= f.text_field :profesion_padre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Trabajo" %>
                      <%= f.text_field :trabajo_padre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Teléfono trabajo" %>
                      <%= f.text_field :telefono_trabajo_padre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.check_box :titular_padre %>
                      <%= f.label "Titular" %>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="panel-group sub-grupo">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <%= link_to "Madre", "#collapse_" + locals[:form] + "_madre", "data-toggle" => "collapse" %>
                </h4>
              </div>  
              <%= content_tag :div, id: "collapse_" + locals[:form] + "_madre", class: ["panel-collapse", "collapse", "collapse", "in" ] do %>
                <div class="col-md-12 col-sm-12 col-xs-12 content-table">
                  <div class="panel-body">
                    <div class="form-group">
                      <%= f.label "Nombre" %>
                      <%= f.text_field :nombre_madre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Apellido" %>
                      <%= f.text_field :apellido_madre, autofocus: true, class: 'form-control' %>
                    </div>                    
                    <div class="form-group">
                      <%= f.label "Cédula" %><%= p " - (la cédula 1.234.567-2 se ingresa 12345672)" %>
                      <%= f.text_field :cedula_madre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Domicilio" %>
                      <%= f.text_field :domicilio_madre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Mail" %>
                      <%= f.text_field :email_madre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Teléfono/Celular" %>
                      <%= f.text_field :celular_madre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Profesión" %>
                      <%= f.text_field :profesion_madre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Trabajo" %>
                      <%= f.text_field :trabajo_madre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Teléfono trabajo" %>
                      <%= f.text_field :telefono_trabajo_madre, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.check_box :titular_madre %>
                      <%= f.label "Titular" %>
                    </div>

                  </div>
                </div>
              <% end %>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="panel-group sub-grupo">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <%= link_to "Titular 1", "#collapse_" + locals[:form] + "_titular_1", "data-toggle" => "collapse" %>
                </h4>
              </div>  
              <%= content_tag :div, id: "collapse_" + locals[:form] + "_titular_1", class: ["panel-collapse", "collapse", "collapse", "in" ] do %>
                <div class="col-md-12 col-sm-12 col-xs-12 content-table">
                  <div class="panel-body">
                    <div class="form-group">
                      <%= p "* " %><%= f.label "Nombre" %>
                      <%= f.text_field :nombre1, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= p "* " %><%= f.label "Apellido" %>
                      <%= f.text_field :apellido1, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= p "* " %><%= f.label "Cédula" %><%= p " - (la cédula 1.234.567-2 se ingresa 12345672)" %>
                      <%= f.text_field :documento1, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= p "* " %><%= f.label "Domicilio" %>
                      <%= f.text_field :domicilio1, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= p "* " %><%= f.label "Mail" %>
                      <%= f.text_field :email1, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= p "* " %><%= f.label "Teléfono/Celular" %>
                      <%= f.text_field :celular1, autofocus: true, class: 'form-control' %>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="clearfix"></div>
            </div>
          </div>
      
          <div class="panel-group sub-grupo">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <%= link_to "Titular 2", "#collapse_" + locals[:form] + "_titular_2", "data-toggle" => "collapse" %>
                </h4>
              </div>                    
              <%= content_tag :div, id: "collapse_" + locals[:form] + "_titular_2", class: ["panel-collapse", "collapse", "collapse", "in" ] do %>
                <div class="col-md-12 col-sm-12 col-xs-12 content-table">
                  <div class="panel-body">
                    <div class="form-group">
                      <%= f.label "Nombre" %>
                      <%= f.text_field :nombre2, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Apellido" %>
                      <%= f.text_field :apellido2, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Cédula" %><%= p " - (la cédula 1.234.567-2 se ingresa 12345672)" %>
                      <%= f.text_field :documento2, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Domicilio" %>
                      <%= f.text_field :domicilio2, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Mail" %>
                      <%= f.text_field :email2, autofocus: true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Teléfono/Celular" %>
                      <%= f.text_field :celular2, autofocus: true, class: 'form-control' %>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="clearfix"></div>
            </div>
          </div>
          <%= f.submit "Inscribir", class: 'btn btn-primary', data: { confirm: "Este formulario sólo puede modificarse en la administración. Está seguro de continuar?" } %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>