<div class="container">
	<div class="row">
  		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<%= link_to locals[:titulo], "#collapse"+locals[:form], "data-toggle" => "collapse" %>
						</h4>
					</div>
					<%= content_tag :div, id: "collapse"+locals[:form], class: ["panel-collapse", "collapse", "collapse"] do %>
						
						<% if @cuentas.count == 0 %>
							<div class="col-md-12 col-sm-12 col-xs-12 content-table">
										<table>
											<tr height='30px'></tr>
											<tr height='30px'><td width='30px'></td><td width='15px'><%= image_tag("warning.png") %></td>
											<td width='30px'></td>
											<td><%= p "Debe ser el titular de la cuenta para acceder a esta información" %></td></tr>
											<tr height='30px'></tr>
										</table>
							</div>
							<div class="clearfix"></div>
						<% else %>
                            <% if false %>
							<div class="col-md-12 col-sm-12 col-xs-12 content-table">
										<table>
											<tr height='30px'></tr>
											<tr height='30px'><td width='30px'></td><td width='15px'><%= image_tag("warning.png") %></td>
											<td width='30px'></td>
											<td><%= p "En mantenimiento, disculpe las molestias" %></td></tr>
											<tr height='30px'></tr>
										</table>
							</div>
							<div class="clearfix"></div>						
							<% end %>
						<% end %>

						
						<% @cuentas.each do |t| %>
							<div class="col-md-12 col-sm-12 col-xs-12 content-table">
								<div class="panel-group sub-grupo">
				 					<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<%= link_to "Cuenta: " + t.id.to_s, "#collapse" + locals[:form] + t.id.to_s, "data-toggle" => "collapse" %>
											</h4>
										</div>										
										<%= content_tag :div, id: "collapse" + locals[:form] + t.id.to_s, class: ["panel-collapse", "collapse", "collapse", "in"] do %>
											<div class="col-md-12 col-sm-12 col-xs-12 content-table">
												<%= render locals[:form], locals: { form: locals[:form] + "_" + t.id.to_s, cuenta: t, pendientes: false }  %>
											</div>
										<% end %>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>


							<div class="clearfix"></div>
							<div class="col-md-12 col-sm-12 col-xs-12 content-table">
								<div class="panel-group sub-grupo">
				 					<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<%= link_to "Cuenta: " + t.id.to_s + "(Movimientos pendientes)", "#collapse" + locals[:form] + t.id.to_s + "pendientes", "data-toggle" => "collapse" %>
											</h4>
										</div>										
										<%= content_tag :div, id: "collapse" + locals[:form] + t.id.to_s + "pendientes", class: ["panel-collapse", "collapse", "collapse", "in"] do %>
											<div class="col-md-12 col-sm-12 col-xs-12 content-table">
												<%= render locals[:form], locals: { form: locals[:form] + "_" + t.id.to_s, cuenta: t, pendientes: true }  %>
											</div>
										<% end %>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>							
						<% end %>
						
					<% end %>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>