<% if usuario_signed_in? && current_usuario.cedula == 19873943 %>

<div class="container">
	<div class="row">
  		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse1"><!--i class="far fa-credit-card"></i--><%= p "Actividad integración campamento 1o Secundaria Montevideo" %></a>
						</h4>
					</div>
<br>
	<div id="collapseu1" class="panel-collapse collapse collapse in">
		<div class="col-md-12 col-sm-12 col-xs-12 content-table">
			<% @van.each do |a| %>
				<%= p a.nombre %><br>
		<% end %><br><br></div>
<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<% end %>
<% if usuario_signed_in? && current_usuario.cedula == 16 %>

	<% cuentas = Array.new %>	
	<% Movimiento.where(["not valido and not duda"]).select(:cuenta_id).distinct().order(:cuenta_id).each do |s| %>

		<% cuentas.push( [s.cuenta_id,s.cuenta_id] ) %>
	<% end %>

	<%= form_for(@cuenta, as: :cuenta, url: principal_movimientos_path(:cuenta)) do |f| %>
        <%= f.label "Cuenta (" + cuentas.count.to_s + ") " %>
		<%= f.select :id, options_for_select(cuentas, 0)  %>
		<%= f.submit "Editar" %>
    <% end %>

	<%= form_for(@cuenta, as: :cuenta, url: principal_duda_path(:cuenta)) do |f| %>
        <%= f.label "Cuenta (" + cuentas.count.to_s + ") " %>
		<%= f.select :id, options_for_select(cuentas, 0)  %>
		<%= f.submit "Duda" %>
    <% end %>


	<%= form_for(@cuenta, as: :cuenta, url: principal_cambiar_path(:cuenta)) do |f| %>
        <%= f.label "Cuenta:  " %>
		<%= f.select :id, options_for_select(cuentas, 0)  %>
		<%= f.submit "Cambiar" %>
    <% end %>


	<% cuentasValidas = Array.new %>	
	<% Movimiento.where(["valido"]).select(:cuenta_id).distinct().order(:cuenta_id).each do |s| %>
		<% cuentasValidas.push( [s.cuenta_id,s.cuenta_id] ) %>
	<% end %>

	<%= form_for(@cuenta, as: :cuenta, url: principal_cuentas_path(:cuenta)) do |f| %>
        <%= f.label "Cuenta (" + cuentasValidas.count.to_s + ") " %>
		<%= f.select :id, options_for_select(cuentasValidas, 0)  %>
		<%= f.submit "Ver" %>
    <% end %>

    <%= p $movimientosnuevos %><br><br>

	<%= form_tag({:controller => "principal", :action => "cargarmovimientos"}, :method => "post", :multipart => true) do %>
  		<%= file_field_tag 'archivo', required: "required", multiple: false %>
		<%= submit_tag "Cargar movimientos" %>
	<% end %>

<!--
	<%= p "Cantidad usuarios: " + Usuario.all.count.to_s %><br>
	<%= p "Cantidad cuentas: " + TitularCuenta.all.count.to_s %><br>
	<%= p "Cantidad autorizados: " + ActividadAlumno.where("opcion=1 OR opcion=2").count.to_s %><br>
	<%= p "Cantidad no autorizados: " + ActividadAlumno.where("opcion=0").count.to_s %><br><br>

	<%= form_for(@usuario, as: :usuario, url: principal_asociar_path(:usuario)) do |f| %>
        <div class="form-group">
            <%= f.label "Cedula", style: "font-size: 24px", class: "labelFormulario"  %>
            <%= f.text_field :cedula, autofocus: true, placeholder: "Cedula", style: "font-size: 24px"  %>
        </div>
        <div class="form-group">
            <%= f.label "Cuenta", style: "font-size: 24px", class: "labelFormulario"  %>
            <%= f.text_field :alumno1, autofocus: true, placeholder: "Cuenta", style: "font-size: 24px"  %>
        </div>
        <div class="form-group">
            <%= f.label "Titular", style: "font-size: 24px", class: "labelFormulario"  %>
            <%= f.text_field :alumno2, autofocus: true, placeholder: "Titular", style: "font-size: 24px"  %>
        </div>
        <div id="textoRegistrarse">
        	<%= f.submit "Asociar", style: "font-size: 24px"  %>
        </div>
    <% end %>

	<%= p "Van" %><br>
	<% @van.each do |a| %>
		<%= p a.nombre %><br>
	<% end %><br><br>

	<%= p "No van" %><br>
	<% @novan.each do |a| %>
		<%= p a.nombre %><br>
	<% end %><br><br>

	<%= p "No eligió" %><br>
	<% @noeligio.each do |a| %>
		<%= p a.nombre %><br>
	<% end %><br><br>

	<%= p "No registrados" %><br>
	<% @noregistrado.each do |a| %>
		<%= p a.nombre %><br>
	<% end %>

!>

<% end %>

    

<% if usuario_signed_in? && current_usuario.cedula != 16 && current_usuario.cedula != 19873943 %>

<div class="container">
	<div class="row">
  		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<%= link_to "Alumnos", "#collapseu1", "data-toggle" => "collapse" %>
						</h4>
					</div>

					<%= content_tag :div, id: "collapseu1", class: ["panel-collapse", "collapse", "collapse", "in"] do %>
						<% @alumnos.each do |t| %>
							<div class="col-md-12 col-sm-12 col-xs-12 content-table">
								<div class="panel-group sub-grupo">
				 					<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<%= link_to t.nombre, "#collapseu2" + t.id.to_s, "data-toggle" => "collapse" %>
											</h4>
										</div>										
										<%= content_tag :div, id: "collapseu2" + t.id.to_s, class: ["panel-collapse", "collapse", "collapse", "in"] do %>
											<div class="col-md-12 col-sm-12 col-xs-12 content-table">
												<% @act = ActividadAlumno.where(['alumno_id = ?',t.id]).order("actividad_id") %>
												<% if (@act != nil) %>
													<% @act.each do |a| %>
														<% @actividad = Actividad.find(a.actividad_id) rescue nil %>
														<% if @actividad != nil && (@actividad.fechainfo == nil || @actividad.fechainfo >= DateTime.now ) %>
														    <br>
															
															<%= form_for(@x, as: :actividad, url: principal_download_pdf_path(:actividad), :html => {:id=>'form_download_' + a.actividad_id.to_s}) do |f| %>
													           <%= f.hidden_field :id, value: @actividad.id %>
															    <div id="textoRegistrarse">

																	<b><%= link_to "Descargar información: " + @actividad.descripcion, "", :onclick => "$('#form_download_" + a.actividad_id.to_s + "').submit()" %></b>
															    </div>
															<% end %>

														    <% @cuenta = CuentaAlumno.where(['alumno_id = ?',t.id]).first rescue nil %>
														    <% @titular = TitularCuenta.where(['usuario_id = ? AND cuenta_id = ?',current_usuario.id,@cuenta.cuenta_id]).first rescue nil %>
														    <% if @titular != nil && (@actividad.fecha == nil || @actividad.fecha >= DateTime.now ) %>

																<% arreglo = Array.new %>
																<% ActividadOpcion.where(["actividad_id = ?",a.actividad_id]).each do |s| %>
																	<% arreglo.push( [s.opcion,s.valor] ) %>
																<% end %>

																<% if arreglo.count > 0 %>

																	<%= form_for(@y, as: :actividad_alumno, url: principal_autorizar_path(:actividad)) do |f| %>


																		<div id="textoRegistrarse">							
																		<% actOpc = ActividadOpcion.where(['actividad_id = ? AND valor = ?',a.actividad_id,a.opcion]).first rescue nil %>
																		<% p actOpc %>
																	    <% if actOpc != nil %>
																	    	<b><%= p actOpc.eleccion %></b>
																	    <% else %>
																	    	<b><%= p "No está autorizado" %><b>
																	    <% end %><br><br>

															            <%= f.hidden_field :alumno_id, value: t.id %>
															            <%= f.hidden_field :actividad_id, value: a.actividad_id %>

																		
																		<%= f.select :opcion, options_for_select(arreglo, a.opcion)  %><br><br>
															            <%= f.submit "Confirmar"  %>
																		</div>

																	<% end %>												
																<% end %>	
																<br>
															<% end %>
														<% end %>
													<% end %>
												<% end %>
												


											</div>
										<% end %>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
  		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<%= link_to "Cuenta Corriente", "#collapses1", "data-toggle" => "collapse" %>
						</h4>
					</div>

					<%= content_tag :div, id: "collapses1", class: ["panel-collapse", "collapse", "collapse"] do %>
						
						<% if @movimientos.count == 0 %>
							<div class="col-md-12 col-sm-12 col-xs-12 content-table">
										<table>
											<tr height='30px'></tr>
											<tr height='30px'><td width='30px'></td><td width='15px'><%= image_tag("warning.png") %></td>
											<td width='30px'></td>
											<td><%= p "Debe ser el titular de la cuenta para acceder a esta información" %></td></tr>
											<tr height='30px'></tr>
										</table>
							</div>
							<div class="clearfix"></div>
						<% end %>

						<% @movimientos.each do |mov| %>
							<div class="col-md-12 col-sm-12 col-xs-12 content-table">
								<div class="panel-group sub-grupo">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<%= link_to "Cuenta: " + mov[0].to_s, "#collapses2" + mov[0].to_s, "data-toggle" => "collapse" %>
											</h4>
										</div>
										<%= content_tag :div, id: "collapses2" + mov[0].to_s, class: ["panel-collapse", "collapse", "collapse", "in"] do %>
											<div class="col-md-12 col-sm-12 col-xs-12 content-table">
												<table class="table table-hover" id="tabla" width="100%" style="font-size:10px">
													<tr>
													<th><%= "Fecha" %></td>									
													<th><%= "Descripción" %></td>
													<th><%= "Debe" %></td>
													<th><%= "Haber" %></td>
													</tr>

													<% primero = true %>
													<% suma = 0 %>
													<% mov[1].each do |m| %>
														<tr>
														<% if m.tipo != -1 %>
															<% suma = suma + m.debe - m.haber %>
														<% end %>
														<td><%= m.fecha.strftime('%d/%m/%Y') %></td>									
														<td><%= m.descripcion %></td>
														<td><% if m.debe != 0 %><%= m.debe %><% end %></td>
														<td><% if m.haber != 0 %><%= m.haber %><% end %></td>
														</tr>
													<% end %>
													<tr>
													<td>
														<% if current_usuario.cedula == 20154106 || current_usuario.cedula == 37756286 %>
															<%= form_for(@cuenta, as: :cuenta, url: principal_download_factura_path(:cuenta), :html => {:id=>'form_download_' + mov[0].to_s}) do |f| %>
													           <%= f.hidden_field :id, value: mov[0] %>
															    <div id="textoRegistrarse">

																	<b><%= link_to "Factura", "", :onclick => "$('#form_download_" + mov[0].to_s + "').submit()" %></b>
															    </div>
															<% end %>
														<% end %>
													</td>
													<td>Saldo</td>
													<td><%= suma %></td>
													<td></td>
													</tr>
												</table>
											</div>
										<% end %>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						<% end %>
					<% end %>
				</div>
			</div>
		<div>
	</div>
</div>

<% end %>


<script>
		$(document).ready(function () {

            $("#tabla tbody tr").each(function (index) {

                var campo1;

                $(this).children("td").each(function (fila) {
                    switch (fila) {
                        case 0:
                            campo1 = $(this).text();
                            break;
                    }
                })

                if (campo1 != "undefined") {

					var texto = campo1 + "";
                	//texto = texto.replace('/-/g', "/");

                	var mes = parseInt(texto.substring(3, 5)); //Obtenemos mes
                	if (mes % 2 == 0) {
                		//alert("Es par");
                		$(this).css("background-color", "#efeded");
                	} else {
                		//alert("Es impar");
                	}
                }
            })

        });

	</script>
