<% if usuario_signed_in? && current_usuario.cedula == 16 %>

	Movimientos
	<% if @movimientos != nil %>
		<table>
		<% primero = true %>
		<% suma = 0 %>
		<% @movimientos.each do |m| %>
			<tr>
			<%= form_for(m, as: :movimiento, url: principal_movimientoupdate_path(:movimiento)) do |f| %>
				<% if m.tipo >= 0 %>
					<% suma = suma + m.debe - m.haber %>
				<% end %>
				
				<td><%= m.fecha %></td>
				<td><%= f.text_field :alumno %></td>
				<td><%= f.text_field :descripcion %></td>
				<td><%= f.text_field :extra %></td>
				<td><%= f.text_field :tipo %></td>
				<td><%= f.text_field :debe %></td>
				<td><%= f.text_field :haber %></td>
				<td><%= suma %></td>
				<td><%= f.hidden_field :tipo, value: m.tipo %><%= f.hidden_field :id, value: m.id %><%= f.submit "Actualizar" %></td>

			<% end %>
			<%= form_for m, as: :movimiento, url: principal_movimientoborrar_path(:movimiento), method: 'delete' do |f| %>
				<%= f.hidden_field :id, value: m.id %>
				<td><%= f.submit 'Borrar' %></td>
			<% end %>
			<% if primero %>
				<% primero = false %>
				<%= form_for m, as: :movimiento, url: principal_movimientofin_path(:movimiento) do |f| %>
					<%= f.hidden_field :cuenta_id, value: m.cuenta_id %>
					<td><%= f.submit 'Fin' %></td>
				<% end %>
			<% end %>


			</tr>
		<% end %>
		</table>
	<% end %>
<% end %>



