<% if usuario_signed_in? && current_usuario.cedula == 16 %>

	<table border=1px width="100%">
		<tr><th>Cédula</th><th>Nombre</th><th>Alumnos</th><th>Cuenta</th><th>Titular</th><th></th></tr>
		<% @usuarios.each do |u| %>
			<%= form_for( u, as: :usuario, url: principal_validarregistro_path(:usuario)) do |f| %>	
				<tr>
					<td><%= f.hidden_field :id %><%= f.hidden_field :cedula %>
					<%= f.label u.cedula.to_s %></td>
					<td><%= f.label u.nombre + " " + u.apellido %></td>
					<td><%= f.label u.alumno1 + "/" + u.alumno2 + "/" + u.alumno3 %></td>
					<td><%= f.text_field :cuenta %></td>
					<td><%= f.check_box :titular %></td>
					<td><%= f.submit "Validar" %></td>
				</tr>
	    	<% end %>
		<% end %>
	</table>

<% end %>
