<header>
	<div class="container">
	<div class="row">
        <div class="col-md-2 logo col-xs-2">
         <%= link_to( image_tag("logo.png", title:"Principal", alt:"Principal", class:"img-logo", style:"width:100px"), principal_index_path) %>
        </div>
		<!--div class="col-md-4 col-xs-9 hidden-xs">
			<div class="titulos-logo">Titulo</div>
		</div-->
		<div class="col-md-10 login col-xs-10">
			<% if usuario_signed_in? %>
				<div class="pull-right">
					<%= button_to "Salir", destroy_usuario_session_path, method: :delete, class: 'btn btn-primary', style:"margin-top:7px;margin-right:7px" %>
				</div>
				<div class="pull-right">
					<%= button_to "Datos", edit_usuario_registration_path, method: :get, class: 'btn btn-primary', style:"margin-top:7px;margin-right:7px" %>
				</div>
				<div class="pull-right nombre hidden-xs"><%= current_usuario.nombre %> <%= current_usuario.apellido %> - <%= current_usuario.email %>					
				</div>			
				<% end %>
			</div>
		</div>  
 	</div>
</header>
<br>